<!DOCTYPE html>
  <html>
  <head>
  <style type="text/css">
    table, th, td {border: 1px solid black;}  
  </style>
  
    <title>Cafe Duty</title>
  </head>
  <body>
    <H2>Next cafe Duty for {{name}}</H2>
    <br/>
    <br/>
    <br/>
    <h1>{{thisDuty.p1}} <small>and</small> {{thisDuty.p2}}</h1> 
    <br/>
    <br/>
    <form action="/team/{{teamId}}/complete-duty" method="post">
      <button>Complete this duty</button>
    </form>
    <br/>
    <hr/>
    <h3>After that: {{nxtDuty.p1}} and {{nxtDuty.p2}}</h3>
    <hr/>
    <div>
      <table>
        <tr><th>Name</th><th>Times on duty</th></tr>
        {{#people}}<tr><td>{{pName}}</td><td>{{pTimes}}</td></tr>{{/people}}
      </table>
    </div>
  </body>
</html>
